In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Key_indicator_districtwise.csv')
df

,State_Name,State_District_Name,AA_Sample_Units_Total,AA_Sample_Units_Rural,AA_Sample_Units_Urban,AA_Households_Total,AA_Households_Rural,AA_Households_Urban,AA_Population_Total,AA_Population_Rural,...,ZZ_Under_Five_Mortality_Rate_U5MR_Rural_Lower_Limit,ZZ_Under_Five_Mortality_Rate_U5MR_Rural_Upper_Limit,ZZ_Under_Five_Mortality_Rate_U5MR_Urban_Lower_Limit,ZZ_Under_Five_Mortality_Rate_U5MR_Urban_Upper_Limit,ZZ_Sex_Ratio_At_Birth_Total_Lower_Limit,ZZ_Sex_Ratio_At_Birth_Total_Upper_Limit,ZZ_Sex_Ratio_At_Birth_Rural_Lower_Limit,ZZ_Sex_Ratio_At_Birth_Rural_Upper_Limit,ZZ_Sex_Ratio_At_Birth_Urban_Lower_Limit,ZZ_Sex_Ratio_At_Birth_Urban_Upper_Limit
0,Assam,Barpeta,53,47,6,13711,12765,946,64606,60293,...,54,70,NaN,NaN,871,985,851,965,908.0,1611.0
1,Assam,Bongaigaon,89,73,16,17384,14904,2480,84012,73899,...,58,73,NaN,NaN,897,1005,911,1026,621.0,956.0
2,Assam,Cachar,105,84,21,27488,24207,3281,127158,112171,...,68,80,31.0,57.0,891,966,871,949,905.0,1168.0
3,Assam,Darrang,26,24,2,5951,5769,182,29048,28256,...,79,107,NaN,NaN,913,1102,908,1097,NaN,NaN
4,Assam,Dhemaji,121,108,13,14481,12619,1862,75451,66537,...,40,53,11.0,38.0,935,1045,938,1054,772.0,1083.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,Uttarakhand,Pithoragarh,161,136,25,25265,20467,4798,102999,84627,...,24,34,NaN,NaN,724,813,734,833,581.0,798.0
280,Uttarakhand,Rudraprayag,225,222,3,33117,32914,203,139025,138266,...,23,30,NaN,NaN,817,898,816,897,NaN,NaN
281,Uttarakhand,Tehri Garhwal,351,317,34,47792,42354,5438,205575,181918,...,64,74,22.0,43.0,840,900,855,918,667.0,842.0
282,Uttarakhand,Udham Singh Nagar,81,45,36,17887,12393,5494,91518,64614,...,40,54,26.0,46.0,821,920,855,978,710.0,879.0
283,Uttarakhand,Uttarkashi,98,89,9,17945,15683,2262,76648,67984,...,46,61,14.0,55.0,850,972,862,991,610.0,989.0

In [ ]:
df.describe()

,AA_Sample_Units_Total,AA_Sample_Units_Rural,AA_Sample_Units_Urban,AA_Households_Total,AA_Households_Rural,AA_Households_Urban,AA_Population_Total,AA_Population_Rural,AA_Population_Urban,AA_Ever_Married_Women_Aged_15_49_Years_Total,...,ZZ_Under_Five_Mortality_Rate_U5MR_Rural_Lower_Limit,ZZ_Under_Five_Mortality_Rate_U5MR_Rural_Upper_Limit,ZZ_Under_Five_Mortality_Rate_U5MR_Urban_Lower_Limit,ZZ_Under_Five_Mortality_Rate_U5MR_Urban_Upper_Limit,ZZ_Sex_Ratio_At_Birth_Total_Lower_Limit,ZZ_Sex_Ratio_At_Birth_Total_Upper_Limit,ZZ_Sex_Ratio_At_Birth_Rural_Lower_Limit,ZZ_Sex_Ratio_At_Birth_Rural_Upper_Limit,ZZ_Sex_Ratio_At_Birth_Urban_Lower_Limit,ZZ_Sex_Ratio_At_Birth_Urban_Upper_Limit
count,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,...,284.000000,284.000000,206.000000,206.000000,284.000000,284.000000,284.000000,284.000000,275.000000,275.000000
mean,72.862676,53.971831,18.890845,15201.264085,12329.848592,2871.415493,74178.753521,60517.820423,13660.933099,14012.871268,...,71.366197,89.144366,35.558252,72.407767,863.693662,973.954225,860.721831,981.823944,749.727273,1093.789091
std,49.310713,37.870795,24.083454,8360.819705,6621.757700,3900.137566,38613.108658,31475.272720,17693.167257,7395.232081,...,19.116152,22.151828,16.359796,23.382268,46.330749,51.091493,50.931015,53.467179,96.156437,141.964062
min,10.000000,8.000000,2.000000,2802.000000,2381.000000,153.000000,13892.000000,11722.000000,759.000000,2501.000000,...,21.000000,29.000000,0.000000,18.000000,724.000000,813.000000,675.000000,833.000000,391.000000,798.000000
25%,46.000000,34.000000,7.000000,9971.500000,7997.750000,971.000000,49222.500000,40206.500000,4613.000000,9229.250000,...,59.750000,75.000000,25.000000,56.000000,835.750000,939.000000,829.750000,949.000000,690.000000,992.500000
50%,60.000000,45.000000,12.000000,13011.500000,10758.500000,1580.500000,65206.500000,53656.000000,7785.500000,12368.500000,...,70.000000,89.000000,34.000000,70.000000,863.500000,973.000000,863.000000,978.000000,751.000000,1064.000000
75%,82.000000,61.000000,20.000000,17749.000000,15250.000000,3044.250000,88998.500000,73290.000000,14757.500000,16442.750000,...,83.000000,103.000000,44.000000,86.000000,892.250000,1004.000000,891.000000,1009.500000,819.000000,1172.000000
max,386.000000,337.000000,234.000000,66535.000000,47183.000000,35763.000000,303009.000000,238744.000000,155980.000000,56581.000000,...,130.000000,162.000000,84.000000,143.000000,1017.000000,1148.000000,1032.000000,1186.000000,1000.000000,1611.000000

In [ ]:
df.shape

(284, 644)

In [ ]:
df.columns

Index(['State_Name', 'State_District_Name', 'AA_Sample_Units_Total',
       'AA_Sample_Units_Rural', 'AA_Sample_Units_Urban', 'AA_Households_Total',
       'AA_Households_Rural', 'AA_Households_Urban', 'AA_Population_Total',
       'AA_Population_Rural',
       ...
       'ZZ_Under_Five_Mortality_Rate_U5MR_Rural_Lower_Limit',
       'ZZ_Under_Five_Mortality_Rate_U5MR_Rural_Upper_Limit',
       'ZZ_Under_Five_Mortality_Rate_U5MR_Urban_Lower_Limit',
       'ZZ_Under_Five_Mortality_Rate_U5MR_Urban_Upper_Limit',
       'ZZ_Sex_Ratio_At_Birth_Total_Lower_Limit',
       'ZZ_Sex_Ratio_At_Birth_Total_Upper_Limit',
       'ZZ_Sex_Ratio_At_Birth_Rural_Lower_Limit',
       'ZZ_Sex_Ratio_At_Birth_Rural_Upper_Limit',
       'ZZ_Sex_Ratio_At_Birth_Urban_Lower_Limit',
       'ZZ_Sex_Ratio_At_Birth_Urban_Upper_Limit'],
      dtype='object', length=644)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Columns: 644 entries, State_Name to ZZ_Sex_Ratio_At_Birth_Urban_Upper_Limit
dtypes: float64(614), int64(28), object(2)
memory usage: 1.4+ MB

In [ ]:
df.describe(include='all')

,State_Name,State_District_Name,AA_Sample_Units_Total,AA_Sample_Units_Rural,AA_Sample_Units_Urban,AA_Households_Total,AA_Households_Rural,AA_Households_Urban,AA_Population_Total,AA_Population_Rural,...,ZZ_Under_Five_Mortality_Rate_U5MR_Rural_Lower_Limit,ZZ_Under_Five_Mortality_Rate_U5MR_Rural_Upper_Limit,ZZ_Under_Five_Mortality_Rate_U5MR_Urban_Lower_Limit,ZZ_Under_Five_Mortality_Rate_U5MR_Urban_Upper_Limit,ZZ_Sex_Ratio_At_Birth_Total_Lower_Limit,ZZ_Sex_Ratio_At_Birth_Total_Upper_Limit,ZZ_Sex_Ratio_At_Birth_Rural_Lower_Limit,ZZ_Sex_Ratio_At_Birth_Rural_Upper_Limit,ZZ_Sex_Ratio_At_Birth_Urban_Lower_Limit,ZZ_Sex_Ratio_At_Birth_Urban_Upper_Limit
count,284,284,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,...,284.000000,284.000000,206.000000,206.000000,284.000000,284.000000,284.000000,284.000000,275.000000,275.000000
unique,9,284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Uttar Pradesh,Barpeta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,70,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,72.862676,53.971831,18.890845,15201.264085,12329.848592,2871.415493,74178.753521,60517.820423,...,71.366197,89.144366,35.558252,72.407767,863.693662,973.954225,860.721831,981.823944,749.727273,1093.789091
std,NaN,NaN,49.310713,37.870795,24.083454,8360.819705,6621.757700,3900.137566,38613.108658,31475.272720,...,19.116152,22.151828,16.359796,23.382268,46.330749,51.091493,50.931015,53.467179,96.156437,141.964062
min,NaN,NaN,10.000000,8.000000,2.000000,2802.000000,2381.000000,153.000000,13892.000000,11722.000000,...,21.000000,29.000000,0.000000,18.000000,724.000000,813.000000,675.000000,833.000000,391.000000,798.000000
25%,NaN,NaN,46.000000,34.000000,7.000000,9971.500000,7997.750000,971.000000,49222.500000,40206.500000,...,59.750000,75.000000,25.000000,56.000000,835.750000,939.000000,829.750000,949.000000,690.000000,992.500000
50%,NaN,NaN,60.000000,45.000000,12.000000,13011.500000,10758.500000,1580.500000,65206.500000,53656.000000,...,70.000000,89.000000,34.000000,70.000000,863.500000,973.000000,863.000000,978.000000,751.000000,1064.000000
75%,NaN,NaN,82.000000,61.000000,20.000000,17749.000000,15250.000000,3044.250000,88998.500000,73290.000000,...,83.000000,103.000000,44.000000,86.000000,892.250000,1004.000000,891.000000,1009.500000,819.000000,1172.000000
max,NaN,NaN,386.000000,337.000000,234.000000,66535.000000,47183.000000,35763.000000,303009.000000,238744.000000,...,130.000000,162.000000,84.000000,143.000000,1017.000000,1148.000000,1032.000000,1186.000000,1000.000000,1611.000000

In [ ]:
df['DD_Effective_Literacy_Rate']

KeyError: ignored

In [ ]:
df['AA_Sample_Units_Total']

0       53
1       89
2      105
3       26
4      121
      ...
279    161
280    225
281    351
282     81
283     98
Name: AA_Sample_Units_Total, Length: 284, dtype: int64